{% extends 'inc/base.inc.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block content %}

<div>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">New Eamil Template</h1>
        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-save fa-sm text-white-50 mx-1"></i> Save Template
        </button> -->

       
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="card shadow text-left">
              <div class="card-body">
                <div class="form-group">
                  <label for="">Template Name</label>
                  <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
                </div>

                <div class="form-group">
                    <label for="">Email Subject</label>
                    <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
                </div>

                <div class="form-group">
                  <label for="">Email Body</label>
                  <textarea class="form-control" name="" id="" rows="8"></textarea>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-save fa-sm text-white-50 mx-1"></i> Save Template
                </button>
               
              </div>
            </div>
        </div>
    </div>



</div>

{% endblock content %}
